body {
	margin: 0;
	background-color: #fff;
}
::-webkit-scrollbar {
	width: 20px;
  }
  ::-webkit-scrollbar-track {
	background: #dddddd;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #043c4c;
	border-radius: 10px;
  }

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, minmax(100px, auto));
	margin: 0 auto;
	position: relative;
	grid-gap: 20px;
}

h1.title {
	grid-column: 2/6;
	color: #043c4c;
	font-size: 100px;
	margin-top: 15vh;
}

.home {
	grid-column: 6/12;
	
	
}

.lijn {
	grid-column: 2/12;
	height: 5px;
	background-color: #88bcdb;
	margin-top: 20%;
}

.partners {
	grid-column: 2/12;
	color: #043c4c;
	font-size: 40px;
}

.bannerP {
	grid-column: 1/13;
	margin-top: -41%;
	grid-row: 1/6;
}

.st2 {
	width: 500%;
	padding-top: 20%;
	margin-left: 100%;
	margin-top: -650%;
}

.logo1 {
	width: 60%;
	margin-left: -10%;
	margin-top: 15%;
}

.logo2 img {
	width: 15%;
}
.logo2 {
	grid-column: 8/12;
	margin-top: -80%;
}
.st3 {
	grid-column: 10/12;
	
}
.st3 img {
	width: 190%;
	margin-left: -50%;
}
.foto img {
	width: 70%;
	margin-top: -100%;
	margin-left: -10%;
	padding-top: 30%;
}

.foto2 img {
	width: 30%;
	margin-top: -100%;
	margin-left: 65%;
}

.textz {
	font-size: 20px;
	grid-column: 9/12;
	grid-row: 1/6;
	margin-top: -85%;
}

.texta {
	grid-column: 3/7;
	font-size: 20px;
	grid-row: 6/6;
	margin-top: 0%;

}

.foto3 {
	width: 50%;
	margin-top: -50%;
	grid-column: 1/12;
}

div.logo2 {
	grid-row: 2/6;
}

@media only screen and ( max-width: 768px){

	h1.title {
		grid-column: 2/6;
		color: #043c4c;
		font-size: 30px;
		margin-top: 15vh;
	}
	.lijn {
		grid-column: 2/12;
		height: 5px;
		background-color: #88bcdb;
		margin-top: 20%;
	}

}
