/*HERO START*/
body {
	margin: 0 auto;
	box-sizing: border-box;
}
.hero {
	width: 100%;
	height: 100%;
	margin-top: 7%;
}

.wrapper {
	display: flex;
	justify-content: flex-start;
}

#title {
	margin-left: 5%;
	margin-bottom: 6%;
	width: 30%;
	color: #043c4c ;
}

h1 {
	font-weight: bolder;
	font-size: 400%;
}

.container {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: -15%;
}

.container2 {
	display: flex;
	width: 600px;
	height: 400px;
	margin-left: 30%;
	margin-right: 10%;
	align-items: center;
	
}

.bigsquare {
	background-color:#043c4c;
	width: 600px;
	height: 400px;
	opacity: 70%;
}


.container2 #square1 img {
	display: flex;
	margin-left: -38%;
	width: 175px;
	height: 250px;
	
}

.container2 #square2 img {
	display: flex;
	width: 175px;
	height: 250px;
	margin-top: -15%;
	margin-left: -7%;

}

.hero img {
	width: 450px;
	height: 320px;
	position: absolute;
	margin-left: 77px;
	
}

.container3 {
	margin-top: 10%;
	margin-left: 5%;
}

.bar {
	height: 3px;
	width: 50%;
	background-color: #043c4c;
	margin-top: 11%;
	margin-left: 25%;
}