body {
	margin: 0;
	background-color: #100F30;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, minmax(100px, auto));
	margin: 0 auto;
	position: relative;
	grid-gap: 20px;
}

img {
	background-color: black;
	width: 50%;
	grid-column: 2/3;
    margin-top: 15%;

}
h1 {
	grid-column: 2/5;
	background-color: black;
    color: aliceblue;
}
nav {
	margin: none;
	grid-column: 5/13;
	font-family: sans-serif;
	margin-right: 35%;
	background-color: black;
    margin-bottom: 10%;
    margin-top: 5%;
    border-radius: 0%;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
   

}

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

nav ul li {
	display: inline;
	padding-left: 10px;
   
}

nav ul li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
    color: blanchedalmond;
}

.Rect {
width: 300px;
height: 400px;
background:#8FC3E1 ;
grid-column: 10/12;

}
.Cercle1{
width: 70px;
height: 70px;
background:#154A47 ;
margin-left: -50px;
margin-top: 50px;
border-radius: 100%;
}
.Cercle2{
    width: 50px;
    height: 50px;
    background:#B25FC6 ;
    margin-top: -100px;
    border-radius: 100%;
    grid-column: 9/12;
    }
    .Cercle3{
        width: 150px;
        height: 150px;
        background:#E23A46;
        margin-top: -400px;
        border-radius: 100%;
        grid-column: 10/12;
        }
.foto-home{
    width: 300%;
    margin-left: -350px;
    margin-top: -500px;
}

    .cls {
    fill: none;
    stroke: red;
    stroke-miterlimit: 10;
    stroke-width: 15px;
    stroke-dasharray: 1000;
    animation:dash 7s linear;
    
   
          }
        
        
        
          @keyframes dash {
        
            from {
        
              stroke-dashoffset: 1010;
        
            }
        
            to {
        
              stroke-dashoffset: 0;
        
            }
        
          }

