body {
	background-color: #043c4c;
	color: white;
	margin: 0;
}

h1 {
	text-align: center;
}

.cijfers {
	padding-top: 5%;
	background-color: #5eb0b6;
	width: 50%;
	height: 250px;
	margin-left: 20%;
	position: relative;
	z-index: 1;
	color: black;
	text-align: center;
}

.insta {
	margin-left: 5%;
}

.facebook {
	margin-left: 5%;
}

.twitter {
	margin-left: 5%;
}

.cijfers1 {
	text-align: center;
	padding-top: 5%;
	background-color: #b7dcdb;
	width: 250px;
	height: 150px;
	margin-left: -30%;
	margin-top: -150px;
}

.cijfers2 {
	padding-top: 5%;
	background-color: #04838b;
	width: 25%;
	margin-left: 65%;
	margin-top: -100px;
	height: 150px;
	position: relative;
	color: black;
	text-align: center;
}

.social {
	display: flex;
	flex-wrap: wrap;
	background-color: #5eb0b6;
	width: 50%;
	margin-left: 25%;
}

.social div:nth-child(even) {
	width: 80%;
}

.social div:nth-child(odd) {
	width: 20%;
}

.niewsbrief {
	background-color: #84949c;
	text-align: center;
	padding-bottom: 10%;
	padding-top: 5%;
	margin-top: 100px;
}

img {
	width: 30px;
}

h2 {
	text-align: center;
	padding-bottom: 0;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #043c4c;
	color: white;
	text-align: start;
	/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #043c4c;
	border: 2px solid white;
	border-radius: 12px;
	width: 150px;

	/*https://www.w3schools.com/tags/tag_button.asp*/
}

.bureau {
	width: 200px;
}

.bureau2 {
	width: 200px;
	margin-right: 80%;
	margin-top: -10%;
}
