body {
	margin: 0;
	background-color: #fff;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, minmax(100px, auto));
	margin: 0 auto;
	position: relative;
	grid-gap: 20px;
}

img {
	width: 50%;
	grid-column: 2/3;
	margin-top: 15%;
}
h1 {
	grid-column: 2/6;

	color: aliceblue;
}

.img1 {
	width: 100%;
	margin-top: -200px;
	margin-left: 150px;
}
.img2 {
	width: 100%;
	margin-top: -400px;
	margin-left: 40px;
}
.img3 {
	width: 60%;
	margin-top: -40px;
	margin-left: -10px;
}

.Rect {
	width: 300px;
	height: 400px;
	background: #8fc3e1;
	grid-column: 11/12;
}
.illustratie {
	position: relative;
	grid-column: 8/12;
}
.Cercle1 {
	/* width: 70px;
	height: 70px;
	background: #b5dad9;
	margin-left: -50px;
	margin-top: 50px;
	border-radius: 100%;
    */
	width: 70px;
	height: 70px;
	background: #b5dad9;
	border-radius: 100%;
	position: absolute;
	top: 20px;
	right: 150px;
}
.Cercle2 {
	width: 50px;
	height: 50px;
	background: #b5dad9;
	margin-top: -100px;
	border-radius: 100%;
	position: absolute;
	top: 400px;
	right: 500px;
}
.Cercle3 {
	width: 170px;
	height: 170px;
	background: #e23a46;
	margin-top: -250px;
	border-radius: 100%;
	grid-column: 10/12;
}
.foto-home {
	width: 300%;
	margin-left: -350px;
	margin-top: -500px;
}

.cls {
	fill: none;
	stroke: red;
	stroke-miterlimit: 10;
	stroke-width: 15px;
	stroke-dasharray: 1000;
	animation: dash 7s linear;
}
.Partners {
	margin-right: 60%;
	margin-left: -790px;
}

.lijn {
	border-bottom: 5px solid #c5f4ff;
	margin-top: 50px;
	margin-left: -800px;
}

.bannerP {
	width: 1700px;
	height: 200px;
	margin-left: -900px;
	margin-top: 100px;
	background-color: #fff;
}
.svg {
	margin-top: -150px;
	padding-right: 50px;
}
.logo1 {
	width: 50%;
	margin-left: -160%;
	margin-top: -220px;
}
.logo2 {
	width: 100%;
	margin-left: -120%;
	margin-top: -150px;
}
.logo3 {
	width: 100%;
	margin-left: -50%;
	margin-top: -170px;
}
.logo4 {
	width: 70%;
	margin-left: 10%;
	margin-top: -170px;
}
.logo5 {
	width: 70%;
	margin-left: 60%;
	margin-top: -150px;
}

.hehe {
	width: 200%;
	margin-left: -780px;
	margin-top: 100px;
}

.pratique1 {
	margin-top: -150%;
	width: 190%;
}

.pratique2 {
	margin-top: 20%;
	width: 250%;
	margin-left: -170%;
}

.oui {
	margin-top: -150%;
	width: 180%;
}
.lijn2 {
	border-bottom: 5px solid #c5f4ff;
	margin-top: 100px;
	margin-left: -800px;
}

.pratiquee {
}
