body{
    margin: 0;
}
.wrapper{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:repeat(13, minmax(75px,auto));
    display: grid;
}

.inner-wrapper{
    grid-column: 1/12;
    grid-row: 6/12;
    background-color: #8fc3e2;
}

.titel {
    text-align: center;
    margin-left: 50%;
}

