/*HERO START*/
.wrapper {
	background-color: rgb(4, 124, 124);
	width: 100%;
}

.title {
	background-color: #0b906a;
	margin: 10px;
	padding: 20px;
	width: 50%;
}

h1 {
	font-weight: bolder;
	font-size: 400%;
}

.container {
	display: flex;
	justify-content: space-around;
}

.firstimage {
	width: 2%;
	height: 2%;
}
