<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="header.css" />
		<title>header</title>
	</head>
	<body>
		<div class="outer-header">
			<div class="wrapper-header">
				<nav>
					<div class="logo">
						<img
							src="/../fullprojects1-bindus-bindus3/logo/B_logo_cmyk_groen.png"
						/>
					</div>
					<div class="hamburger">
						<div class="line1"></div>
						<div class="line2"></div>
						<div class="line3"></div>
					</div>
					<ul class="nav-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Wie is Bindus?</a></li>
						<li><a href="#">Hoe gaan we te werk?</a></li>
						<li><a href="#">Ons aanbod</a></li>
						<li><a href="#">Bindusworks</a></li>
						<li><a href="#">Bindus Blogt</a></li>

						<li><button class="login-button" href="#">Login</button></li>
						<li><button class="join-button" href="#">Aanmelden</button></li>
					</ul>
				</nav>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>
