body {
	margin: 0;
	background-color: white;
}

.wrapper-header {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
	display: grid;
}

header {
	padding: 10px;
	grid-column: 2/12;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	text-align: center;
}

header img {
	grid-column: 1/2;
	width: 20%;
	align-self: center;
}

header nav {
	grid-column: 2/12;
	align-self: center;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	color: #043c4c;
	padding: 0px 20px;
}

header nav ul li a {
	text-decoration: none;
	padding: 6px 14px;
}

.aanmelden{
    float: right;
    color: white; text-decoration: none;
}