<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>01</title>
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/components/header.css" />
	</head>

	<body>
		<div class="wrapper">
			<header>
				<img src="/logo/B_logo_cmyk_wit.png" />
				<nav>
					<ul>
						<a href="#"><li>Home</li></a>
						<a><li>Wie is Bindus?</li></a>
						<a><li>Hoe gaan we te werk?</li></a>
						<a><li>Projecten</li></a>
						<a><li>Partners</li></a>
						<a><li>Bindusworks</li></a>
						<a><li>Contact</li></a>
						<a class="aanmelden" href="#">Aanmelden</a>
					</ul>
				</nav>
			</header>
		</div>
	</body>
</html>
