@font-face {
	font-family: "Marion";
	src: url("/fonts/Marion\ Regular.ttf") format("opentype");
}
@font-face {
	font-family: "MarionBold";
	src: url("/fonts/Marion\ Bold.ttf") format("opentype");
}
@font-face {
	font-family: "MarionLight";
	src: url("/fonts/Marion\ Italic.ttf") format("opentype");
}


body {
	margin: 0;
	font-family: "Marion";
}

.wrapperTitle {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
	position: relative;
}

.mainTitle {
	text-align: center;
	align-items: center;
	grid-column: 1/13;
	font-size: xx-large;
}
.bodyContent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, minmax(75px, auto));
	position: relative;
	margin-bottom: 20px;
}

.leftNavbar {
	grid-column: 2/4;
	top: 0;
	position: sticky;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
}

.navlist {
	grid-column: 2/4;
}

.navlist a {
	text-decoration: none;
	color: black;
}

.wrapper {
	grid-column: 5/12;
	grid-row: 1/13;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
	position: relative;
}

.Colors {
	grid-column: 2/12;
	grid-row: 1;
}

.card {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, minmax(75px, auto));
	position: relative;
	column-gap: 15px;
}

.card-top-E94F1D {
	background-color: #E94F1D;
	grid-column: 1/4;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-E94F1D {
	background-color: #2f353e;
	grid-column: 1/4;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}

.card-top-0011A0 {
	background-color: #0011A0;
	grid-column: 4/7;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-0011A0 {
	background-color: #2f353e;
	grid-column: 4/7;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}

.card-top-44B2E6 {
	background-color: #44B2E6;
	grid-column: 7/10;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-44B2E6 {
	background-color: #2f353e;
	grid-column: 7/10;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}
.card-top-D63275 {
	background-color: #D63275;
	grid-column: 10/13;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-D63275 {
	background-color: #2f353e;
	grid-column: 10/13;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}

.card-top-F7F3F2 {
	background-color: #F7F3F2;
	grid-column: 1/4;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-F7F3F2 {
	background-color: #2f353e;
	grid-column: 1/4;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}
.card-top-070404 {
	background-color: #070404;
	grid-column: 4/7;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-070404 {
	background-color: #2f353e;
	grid-column: 4/7;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}
.card-top-75C5C0 {
	background-color: #75C5C0;
	grid-column: 7/10;
	grid-row: 1/3;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card-bottom-75C5C0 {
	background-color: #2f353e;
	grid-column: 7/10;
	grid-row: 3/4;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	text-align: left;
	padding-left: 20px;
}



.divider1 {
	margin-top: 25px;
}

.Fonts {
	grid-column: 2/12;
	grid-row: 2;
}

.fontTable-layout {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
	position: relative;
}


table {
	table-layout: fixed;
	grid-column: 1/13;
	grid-row: 3/4;
	text-align: left;
	border-collapse: collapse;
}
.fontExample{
	grid-row: 1/2;
	grid-column: 5/13;
	margin-bottom: 20px;
}


.font-divider{
	grid-column: 1/4;
	height: 0;
	margin: 0;
	font-family: "Marion";
}


tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }
td {
	width: 25%;
}

.Links {
	grid-column: 2/12;
}

.linkContent{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, minmax(75px, auto));
	position: relative;
	column-gap: 20px;
}

/*https://www.30secondsofcode.org/css/s/hover-underline-animatio*/
.link-underline-hover {
	display: inline-block;
	position: relative;
	color: #0087ca;
}
.link-underline-hover::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0px;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.link-underline-hover:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.linkContent a.link1{
	grid-column: 1/2;
	grid-row: 1;
}

.linkContent a.link2{
	grid-column: 2/3;
	grid-row: 1;
}

.linkContent a.link3{
	grid-column: 3/4;
	grid-row: 1;
}

/*https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
.buttonExample {
	border-radius: 4px;
	background-color: #44B2E6;
	color: black;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border: 4px solid #F7F3F2;
	border-radius: 25px;
	grid-column: 1;
	grid-row: 2;
}

.button2{
	border-radius: 4px;
	background-color: #44B2E6;
	color: black;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	width: 200px;
	cursor: pointer;
	margin: 5px;
	border: 4px solid #F7F3F2;
	border-radius: 25px;
	grid-column: 2;
	grid-row: 2;
}

.button3{
	border-radius: 4px;
	background-color: #F7F3F2;
	color: black;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	width: 200px;
	cursor: pointer;
	margin: 5px;
	border: 4px solid #44B2E6;
	border-radius: 25px;
	grid-column: 3;
	grid-row: 2;
}
.button3::after{
	content: "\00bb";
}
.buttonExample:hover{
	background-color: #F7F3F2;
	border: 4px solid #44B2E6;
}

.buttonExample span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonExample span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.buttonExample:hover span {
	padding-right: 25px;
}

.buttonExample:hover span:after {
	opacity: 1;
	right: 0;
}

.Icons {
	grid-column: 2/12;
}

.Logo {
	grid-column: 2/12;
}
